DATABASE_URL="postgresql://postgres:Ashusql@9348@localhost:5432/crumbstall?schema=crumbstall"
REDIS_URL="redis://localhost:6379"
CLIENT_ORIGIN="http://localhost:3000"
PORT="3001"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
AUTH_SYNC_SECRET="h):g\C+fkEz,llzR@qe?M=@r#A-CXp8#ra.PZRSLD!s=uZx1qz2:F=z+1:lRX7.0"

RAZORPAY_KEY_ID=""
RAZORPAY_KEY_SECRET=""
RAZORPAY_WEBHOOK_SECRET=""

JWT_SECRET="*L4Ff,gucz#K+GU21Sel?@Hp4VlEBYA?BL6(j@"M;W,}1ujb.U-Ra4y81TB]WV2=1RoIsff(A{C@[\ZAA*h!,g6/C6-UBfs-T*sC1Xb*9u-J=.,.#.za*#E,|pmFTwb91!b'i53-;.85QGR)xmV(EPhSJvogOx-lpp,Ia|yt5q{1\DdLr1k2V)aJPf40Hspa0|2\XV2k"
